.terrang-container {
  @extend .position-container;
  display: flex;
  height: 100vh;

  h1 {
    padding: 1rem;
  }
}

.Terrangtyp-wrapper {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  padding: 1rem;
}
.terrangtyp {
  display: flex;
  cursor: pointer;
  img {
    width: 80px;
    height: 80px;
    border-radius: 0.4rem;
    object-fit: cover;
  }
  //Targeting the div (.selection) by nesting and overriding the .selection style without chaging classname.
  div {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 0.5rem;
    position: relative;

    p {
      min-width: 6rem;
    }
    .description {
      display: none;
      text-align: left;
      height: 0;
      width: 100%;
      position: absolute;
      transform: translateX(-120%);
      padding: 1rem;
      border-radius: 0.6rem;

      box-shadow: inset 1px 1px 15px #fff;
    }
    &:hover {
      .description {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: auto;
        color: white;
        background: rgba(28, 28, 28, 0.808);
      }
    }
  }
}

.terrang-body {
  flex: 0.5;
  height: 100vh;
  z-index: 5;
  padding: 0 1rem;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.315);
}
.terrang-img {
  flex: 0.5;

  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.carousel__item {
  width: 100%;

  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
//Showing text on hover.
