$gold_orange_text: #f3a24a;
$mainBtn_bg: linear-gradient(
  -90deg,
  rgba(24, 159, 172, 1) 0%,
  rgba(107, 159, 137, 1) 100%
);
$mainBtn_bg_hover: linear-gradient(
  -90deg,
  rgb(50, 202, 216) 0%,
  rgb(141, 189, 169) 100%
);
$primary_bg: #f7f7f7;
$gray_primary_text: #4a4a4a;
$gray_secondary_text: #919191;
$breakpoint-small-screen: 1200px;
$input_bg: #efefef;
$EuroFont: "Eurosoft W03 Medium", sans-serif;
$Poppins: "Poppins", sans-serif;
